<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.veccode">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
        android:name="com.example.veccode.Login.App"
        android:allowBackup="true"
        android:icon="@drawable/com"
        android:label="@string/app_name"
        android:roundIcon="@drawable/com"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            ></activity>
        <service
            android:name="com.example.veccode.Login.ExampleJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service android:name="com.example.veccode.Login.ExampleService" />
        <activity
            android:name=".design.MainWorkActivity"
            android:label="@string/title_activity_main_work"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>